<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Particular sport</h1>
    <div>
        <h1><%=foundSport._id%></h1>
        <h1><%=foundSport.sport%></h1>
        <h1><%=foundSport.year%></h1>
        <h1><%=foundSport.isPlayed%></h1>
        <a href="/sports">back</a>
        <a href="/sports/<%=foundSport._id%>/edit">edit</a>
    </div>
</body>
</html>